body {
  font-family: 'Roboto', sans-serif;
}

.loading-container {
  div {
    display: block !important;
    margin: 10px auto !important;
  }
  p {
    text-align: center;
  }
}

.login-container {
  p {
    text-align: center;
  }
  .login-button {
    display: block !important;
    margin: 0 auto;
    width: 400px;
    img {
      height: 100%;
      width: auto;
    }
  }
}